Source: tpm2-ssh-helper
Section: admin
Priority: optional
Maintainer: Steven Walter <stevenrwalter@gmail.com>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/tpm2-ssh-helper
#Vcs-Git: https://salsa.debian.org/debian/tpm2-ssh-helper.git
Rules-Requires-Root: no

Package: tpm2-ssh-helper
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
